

.create-account {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	margin: 20px auto;
    width: 90%;
    max-width: 400px;
    height: 650px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgb(93, 93, 93);
    overflow: hidden;
  }
  
  .create-account input[type=text],
  .create-account input[type=password]
{
	padding: 8px;
	margin: 8px;
	font-size: 17px;
  }
  .create-account input[type=email] {
	padding: 8px;
	margin: 8px;
	font-size: 17px;
  }
  

  .create-account select {
	padding: 8px;
	margin: 8px;
	font-size: 17px;
  }
  
  .create-account select[multiple] {
	height: auto;
  }

.pref{
margin-left: 65px;
width: 250px;
}

.pref select {
	display: flex;
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	appearance: none;
  }
  
  .pref select:focus {
	outline: none;
	border-color: #000;
  }
  


