/* footer.css */
.footer-container {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    max-height: 5rem;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EEECFB;
    color: #404167;
    flex-direction: column;
}

.footer-text {
    font-size: 0.6rem;
    margin: 10px;
    padding: 0;
}

/* ----- TABLET ------- */
@media screen and (min-width: 768px) {
    .footer-container {
        max-height: fit-content;
    }

    .footer-text {
        font-size: 0.8rem;
        margin: 20px;
    }
}