.home-wrapper {
    display: flex;
        flex-direction: column;
        align-items: center;
        /* Center horizontally */
        justify-content: center;
        /* Center vertically */
    }

.copyright-icon {
    width: 20px;
    bottom: 0;
    right: 0;
    margin: 10px;
    color: rgb(255, 255, 255);
    margin-top: 60px;
}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.headline-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--primary-background);
}

.home img {
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 50%;
}