/* Mobile screen max-size 481px */

.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.primary-title {
    color: var(--primary-light);
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.primary-text {
    font-size: 1rem;
    color: var(--primary-dark);
    font-weight: 400;
    font-family: 
}

.copyright-icon {
    width: 20px;
    bottom: 0;
    right: 0;
    margin: 10px;
    color: rgb(255, 255, 255);
    margin-top: 60px;
}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    padding-right: 20px;

}

    .headline h1 {
        font-size: 2rem;
    }

    .headline-wrapper{
        padding-top: 90px;
    }
.headline-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--primary-background);
}

.home img {
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 50%;
}

/* styles for phones in landscape and some tablets in portrait */
@media screen and (min-width: 481px) and (max-width: 768px) {
    
    .headline{
        padding-left: 35px;   
        padding-right: 20px;
    }
    .headline h1{
        font-size: 3.3rem;
    
    }
    .primary-text{
        font-size: 1rem;
    }
    .headline-wrapper{
        padding-top: 190px;
    }
}

/* styles for tablets in landscape and small desktop monitors */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .headline-wrapper{
        padding-top: 150px;
    }
    .headline{
        padding-left: 35px;   
        padding-right: 20px;
        padding-top: 30px;
    }
    .headline h1{
        font-size: 5rem;
    
    }
    .primary-text{
        font-size: 1.2rem;
    }
   
}   

/* styles for medium-sized desktop monitors */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
   
    
    .primary-title {
        font-size: 3rem;
    }
 
.headline h1{
            font-size: 5rem;
        }
      
    .headline-wrapper {
        padding-top: 200px;
    }
    .primary-text{
        font-size: 1.45rem;
    }

/* styles for large desktop monitors and above */
    @media screen and (min-width: 1201px) {
    .primary-title {
        font-size: 5rem;
    }
    
    .headline {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }
      
    .headline-wrapper {
        padding-top: 200px;
    }
    .primary-text{
        font-size: 1.45rem;
    }
}}