

.styled-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
}


.profile-container h1 {
  font-size: 1rem;
  padding: 10px 10px;
  margin: 10px 10px;
  color: var(--primary-dark);
  background-color: rgba(163, 90, 152, 0.292);
}

.profile-container {
  margin-top: 20px;
}
 .toggle-button {
   display: block;
    position: absolute;
   cursor: pointer;
   border-radius: 12px;
   border: none;

 }

.role {
  font-size: 1rem;
  padding: 10px 10px;
  margin: 10px -8px;
  color: var(--primary-dark);
  background-color: rgba(188, 24, 163, 0.367);
}

.hover-text {
  margin-left: 5px;
  font-weight: bold;
}

.hamburger-icon {
  height: 25px;
  margin-top: 0.5rem;

}


.menu-nav {
  display: flex;
}

.menu-nav.open {
  flex-direction: column;
  align-items: flex-end;
  background: linear-gradient(45deg,
      rgba(255, 65, 236, 0.707) 0%,
      rgba(242, 223, 239, 0.908) 100%);
}

.ul-elements {
  display: flex;
  list-style-type: none;
  padding: 0.7rem;
  font-size: 1.5rem;
  background-color: var(--secondary-background);
}

.ul-elements.right-aligned {
  justify-content: flex-end;
}


.li-elements>a {
  text-decoration: none;
  color: var(--primary);
  padding: 10px;
  transition: background-color 0.3s;
}

.li-elements>a:hover {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  border-radius: 5px;
}


.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--primary-light);

  border-top: solid 2px rgb(121, 119, 119);

}

.logo {
  display: none;
}


/* ---------- TABLETS  ---------- */
@media screen and (max-width: 840px) {
  
}

  .toggle-button {
    display: block;
    position: absolute;
    cursor: pointer;
    border-radius: 12px;
    border: none;

  }

  .homebutton-container {
    display: flex;
    align-self: flex-start;

  }

  .home-button {
    font-size: 0.7rem;
      margin: 0.5rem;
      padding: 0.5rem 1rem;
    border-radius: 16px;
    background-color: rgb(234 216 231 / 90%);
    align-self: flex-start;
  }

  .hamburger-icon {
    height: 30px;
  }

  .menu-nav {
    display: none;
    position: relative;
    top: 0%;
    right: 0%;
    padding: 10px;
    color: var(--primary-dark);
    border-radius: 5px;
    z-index: 2;
  }

  .menu-nav.open {
    display: flex;
  }

  .ul-elements {
    flex-direction: column;

  }



  .ul-elements.right-aligned {
    justify-content: flex-start;
  }

  .li-elements {
    margin-right: 0;
    padding-bottom: 25px;
  }

  .li-elements:last-child {
    margin-bottom: 0;

  }

  .li-elements>a {
    padding: 5px;
    font-size: 20px;

  }

/*--------------- LARGER TABLETS (MIN-WIDTH 840PX) ---------------*/

@media screen and (min-width: 840px) {
  .menu-nav {
    margin-top: none;
    right: 0%;
    padding: 10px;
    color: var(--primary-dark);
    border-radius: 5px;
    z-index: 1;

  }

  .logo {
    display: flex;
    color: var(--primary-dark);
  }

  .styled-nav-bar {
    margin-top: none;
  }

  .homebutton-container {
    display: flex;
    align-self: flex-start;

  }
  .home-button {
        font-size: 1rem;
          margin: 1rem;
          padding: 0.7rem 2rem;
        }
  }


/* ---------- DESKTOP (MIN-WIDTH 1024PX)  ---------- */

@media (min-width: 1024px) {


/* 
  .hamburger-icon {
    display: none;
  } */
.menu-nav {
  position: relative;
}

  .ul-elements li a {
    font-size: 1.5rem;
    line-height: 29px;
  }


  .profile-container h1,
  .profile-container p {
    font-size: 25px;
  }

  .profile-container p {
    margin-left: 10px;
  }

  .styled-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

}