.auth-modal {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 0;
	right: 0;
	top: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 360px;
	height: 600px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 40px;
  }
  
.auth-modal .close-icon {
	float: right;
  }
  
  .auth-modal input[type=password],
  .auth-modal input[type=username] {
	padding: 8px;
	margin: 8px;
	font-size: 17px;
  }




