/*-------- Main styling (mobile first) --------*/
/*-------- Potential matches --------*/

.box-container {
    background-color:  rgb(235, 235, 235);
   
  }

  .main-container {
    background-color: var(--primary-background);
  }
  
  .user-info .roles {
    margin-right: 10px;
    /* Additional styling for the role if needed */
  }


.header-container{
    background: var(--secondary-background);
    color: black;
    height: 100px;
}
.header-container h1{
    padding-top: 20px;
    padding-left: 20px;
}


/*---- Cards ----*/

.person-cardfinal {
    margin: 20px auto;
    position: relative;
    width: 90%;
    max-width: 400px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgb(93, 93, 93);
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.photo-containerfinal {
    position: relative;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, #F7F4F4 0%, #DCDCDB 100%);
    overflow: hidden;
    border: 1px solid #FFFFFF;
}

.photo-containerfinal img {
    width: 80%;
    object-fit: cover;
}

.profile-infofinal {
    background: linear-gradient(to bottom, #F7F4F4 0%, #DCDCDB 100%);
    padding: 20px;
    width: 100%;
    height: 30%;
    
}

.profile-infofinal p {
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}
.name-containerfinal{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.preferences{
    display: grid;
    grid-template-columns: 1fr 1fr;
 
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}
/*------- Mobile device---------*/
@media only screen and (max-width: 480px) {
    .person-card {
        width: 90%;
        height: 400px;
    }

    .photo-container {
        height: 60%;
    }

    .profile-info {
        padding: 10px;
    }

    .button-container {
        padding: 10px;
    }
}

/* ------------------Tablets & Ipads-------------- */
@media (min-width: 768px) and (max-width: 1023px) {
    .main-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
     .box-container{
        grid-column: 1/3;
     }
    
        
      /*---- Cards ----*/
      
      .card-container {
          display: grid;
            grid-template-columns: 1fr 1fr;
      }
      
    
      
      .profile-infofinal p {
         font-size: 22px;
      }

}

/* Styles for screens larger than or equal to 1024px */
@media (min-width: 1024px) {
    
     .main-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
     .box-container{
        grid-column: 1/3;
     }
     .card-container {
        display: grid;
          grid-template-columns: 1fr 1fr;
    }

     .profile-infofinal p {
        font-size: 22px;
     }
}
