

.create-account {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	margin: 20px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgb(93, 93, 93);
    overflow: hidden;
  }
  
  .create-account input[type=text],
  .create-account input[type=password]
{
	padding: 8px;
	margin: 8px;
	font-size: 17px;
  }
  .create-account input[type=email] {
	padding: 8px;
	margin: 8px;
	font-size: 17px;
  }
  .bio-text {
	padding: 8px;
	margin: 8px;
	font-size: 17px;
	width: 230px;
	height:150px;
  }
  .select-role, .select-preferences {
	width: 230px;
	padding: 8px;
	margin: 8px;
	font-size: 17px;
	width: 230px;
  }

  .create-account select {
	padding: 8px;
	margin: 8px;
	font-size: 17px;
  }

  
  .create-account select[multiple] {
	height: auto;
  }

  
  .error-message {
	color: red;
	font-size: 14px;
	
  }


