
.top-bar-container {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  flex-direction: column;

}

@media screen and (min-width: 840px) {
  .top-bar-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
}
.top-bar-container {
  display: flex;
  align-self: flex-start;
}

.home-button {
  color: var(--primary-dark);
  padding: 10px 15px;
  margin: 10px;
  border-radius: 16px;
  background-color: rgb(234 216 231 / 90%);
  align-self: flex-start;
}