.person-cardfinal {
<<<<<<< HEAD
    margin: 20px auto;
    position: relative;
    width: 90%;
    max-width: 400px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgb(93, 93, 93);
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.photo-containerfinal {
    position: relative;
    width: 100%;
    height: 70%;
    background: linear-gradient(to bottom, #F7F4F4 0%, #DCDCDB 100%);
    overflow: hidden;
    border: 1px solid #FFFFFF;
}

.photo-containerfinal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-infofinal {
    background: linear-gradient(to bottom, #F7F4F4 0%, #DCDCDB 100%);
    padding: 20px;
    overflow: auto;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

@media only screen and (max-width: 480px) {
    .person-card {
        width: 90%;
        height: 400px;
    }

    .photo-container {
        height: 60%;
    }

    .profile-info {
        padding: 10px;
    }

    .button-container {
        padding: 10px;
    }
}
=======
	margin: 20px auto;
	position: relative;
	width: 90%;
	max-width: 400px;
	height: 500px;
	border-radius: 20px;
	box-shadow: 0 2px 10px rgb(93, 93, 93);
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
  }
  
  .photo-containerfinal {
	position: relative;
	width: 100%;
	height: 70%;
	background: linear-gradient(to bottom, #f7f4f4 0%, #dcdcdb 100%);
	overflow: hidden;
	border: 1px solid #FFFFFF;
  }
  
  .photo-containerfinal img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .profile-infofinal {
	background: linear-gradient(to bottom, #f7f4f4 0%, #dcdcdb 100%);
	padding: 20px;
	overflow: auto;
  }
  
  .button-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	padding: 20px;
  }
  
  @media only screen and (max-width: 480px) {
	.person-card {
	  width: 90%;
	  height: 400px;
	}
  
	.photo-container {
	  height: 60%;
	}
  
	.profile-info {
	  padding: 10px;
	}
  
	.button-container {
	  padding: 10px;
	}
  }
  
>>>>>>> master
