/*-------- LogedIn NavBar --------*/
.logged-in-nav {
    background-color: #f2f2f2;
    padding: 10px;
    justify-content: center;
    padding: 20px;
}

.hamburger-menu {
    display: none;
}
.navbar-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.sign-out-btn {
    
   
}

.navbar-item {
    margin-right: 10px;
}

.navbar-item:last-child {
    margin-right: 0;
}

.navbar-item a {
    text-decoration: none;
    color: rgb(254, 48, 114);
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-item a:hover {
    background-color: #ddd;
}

/* Styling for tablet devices */
@media (max-width: 1024px) {
    .navbar-list {
        flex-direction: column;
        align-items: center;
    }

    .navbar-item {
        margin-bottom: 10px;
    }

    .horizontal-menu {
        display: none;
    }
    .navbar-item a {
            text-decoration: none;
                color: rgb(254, 48, 114);
                padding: -6px;
                border-radius: 5px;
            }
            .navbar-item a:hover {
                background-color: #ddd;
            }
        }

/* Styling for mobile */
@media (max-width: 768px) {
    .navbar-list {
        flex-direction: column;
        align-items: center;
    }

    .navbar-item {
        margin-bottom: 10px;
    }

    .horizontal-menu {
        display: none;
    }
    .navbar-item a {
            text-decoration: none;
                color: rgb(254, 48, 114);
                padding: 0;
                border-radius: 5px;
            }
            .navbar-item a:hover {
                background-color: #ddd;
            }
        }

        

