
  .styled-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .hover-text {
    margin-left: 5px;
    font-weight: bold;
  }
  
  .hamburger-icon {
    width: 20px;
    height: 20px;
  }
  
  .toggle-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .menu-nav {
    display: flex;
  }
  
  .menu-nav.open {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .ul-elements {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .li-elements {
    margin-right: 10px;
  }
  
  .ul-elements.right-aligned {
    justify-content: flex-end;
  }
  
  .li-elements > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .li-elements > a:hover {
    background-color: #ddd;
  }
  .home-icon{
    margin-right: 10px;
  }
.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    background-color: white;
    margin-left: 10px;
}
  .profile-container h1,
.profile-container p {
  margin: 0;
}
  /* ---------- MOBILE (MAX-WIDTH 767PX) ---------- */
  @media (max-width: 768px) {
    
    .toggle-button {
      display: block;
    }
  
    .menu-nav {
      display: none;
      position: absolute;
      top: 5%;
      right: 0%;
      padding: 10px;
      background-color: pink;
      border-radius: 5px;
      z-index: 2;
      margin-top: 10px;
    }
  
    .menu-nav.open {
      display: flex;
    }
  
    .ul-elements {
      flex-direction: column;
    }
  
    .ul-elements.right-aligned {
      justify-content: flex-start;
    }
  
    .li-elements {
      margin-right: 0;
      margin-bottom: 5px;
    }
  
    .li-elements:last-child {
      margin-bottom: 0;
    }
  
    .li-elements > a {
      padding: 5px;
      font-size: 14px;
    }
  }
  




/* ---------- TABLET (MIN-WIDTH 668PX)  ---------- */

@media (min-width: 668px) {
   
      .sign-out-btn .icon {
    display: inline-block;
  }

  .sign-out-btn .hover-text {
    display: none;
  }

  .sign-out-btn:hover .icon {
    display: none;
  }

  .sign-out-btn:hover .hover-text {
    display: inline-block;
  }
}

/* ---------- DESKTOP (MIN-WIDTH 1024PX)  ---------- */

@media (min-width: 1024px) {

   
    .ul-elements li a {
        text-transform: none;
        border-bottom: none;
        font-size: 16px;
    }

    .ul-elements li a:hover {
        text-decoration: underline 3px var(--primary-color-4);
    }

    .ul-elements li a:active {
        color: var(--primary-color-4);
    }

    .ul-elements li a {
        font-size: 1.5rem;
        line-height: 29px;
    }

    .profile-container{
      display: flex;
      flex-direction:row;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #333;
      background-color: white;
      margin-left: 20px;
  }
    .profile-container h1,
  .profile-container p {
    font-size: 25px;
  }
  .profile-container p {
    margin-left: 10px;
  }

  .styled-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
    
}