/*-------- Navbar STARTPAGE--------*/

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Align items vertically */
}


.navigation .logo-container {
    width: 170px;
    margin: 15px;
}

.navigation .logo-container .logo {
    width: 100%;
}

.logo-container .logo img {
    width: 100%;
}