/*-------- Navbar STARTPAGE--------*/

.nav-links-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.login-wrapper {
    display: flex;
    justify-content: flex-end;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}