/*--------  STYLE MOBILE AND DESKTOP  --------*/
.logged-in-nav {
    background-color: #f2f2f2;
    padding: 10px;
    justify-content: center;
    padding: 20px;
}


.hamburger-menu {
    display: none;
}
.navbar-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.sign-out-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

    

.navbar-item {
    margin-right: 10px;
}

.navbar-item:last-child {
    margin-right: 0;
}

.navbar-item a {
    text-decoration: none;
    color: rgb(254, 48, 114);
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-item a:hover {
    background-color: #ddd;
}
  .sign-out-btn .icon {
      display: inline-block;
  }

  .sign-out-btn .home-btn .hover-text {
      display: none;
  }

  .sign-out-btn:hover .icon {
      display: none;
  }

  .sign-out-btn:hover .hover-text {
      display: inline-block;
  }



/* Styling for tablet devices */
@media (max-width: 1024px) {
    .navbar-list {
        flex-direction: column;
        align-items: center;
    }

    .navbar-item {
        margin-bottom: 10px;
    }

    .horizontal-menu {
        display: none;
    }
    .navbar-item a {
            text-decoration: none;
                color: rgb(254, 48, 114);
                padding: -6px;
                border-radius: 5px;
            }
            .navbar-item a:hover {
                background-color: #ddd;
            }
            .hover-text {
                display: none;
            }
        }

/* Styling for mobile */
@media (max-width: 768px) {
    .navbar-list {
        flex-direction: column;
        align-items: center;
    }

    .navbar-item {
        margin-bottom: 10px;
    }

    .horizontal-menu {
        display: none;
    }
    .navbar-item a {
            text-decoration: none;
                color: rgb(254, 48, 114);
                padding: 0;
                border-radius: 5px;
            }
            .navbar-item a:hover {
                background-color: #ddd;
            }
            .hover-text {
                position: inherit;
            }
        }

        

