/* UserCard.css */
.person-card-mockup {
    position: relative;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.mockup-title {
    position: absolute;
    top: -30px;
    /* Adjust this value to leave space for the title */;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 24px;
    color: #de0ef5;
    background-color: #5e555549;
    padding: 10px 10px;
    text-transform: uppercase;
}

.person-card-content {
    position: relative;
    z-index: 1;
}
.person-card-mockup {
    /* Add styles for the card container */
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.profile-header-mockup {
    /* Styles for the profile header */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
   
}
.profile-header-mockup p {
    font-size: 16px;
    color: #2c2b2b;
    padding-right: 20px;
}
.profile-header-mockup h2 {
    /* Styles for the role */
    font-size: 16px;
    color: #413b3b;
    font-style: normal;
}


.photo-container-mockup img {
    /* Styles for the mentee's image */
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.profile-info-mockup h3 {
    /* Styles for the name and emoji */
    font-size: 24px;
    margin-bottom: 5px;
}

.profile-info-mockup p {
    /* Styles for other profile info */
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.button-container-mockup {
    /* Styles for the button container */
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.primary-button-mockup {
    /* Styles for the primary buttons */
    background-color: var(--primary-button-start);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-radius: 20px;

}

.primary-button-mockup:hover {
    background-color: var(--primary-button-end)
}

 /* Adjust styles for smaller screens (e.g., iPhone SE) */

@media screen and (max-width: 480px) {
   

    .person-card-mockup {
        padding: 10px;
        margin: 10px;
    }

    .loged-in-name-mockup {
        font-size: 16px;
    }

    .role-mentor-mockup,
    .loged-in-text-mockup {
        font-size: 12px;
    }

    .profile-info-mockup h3 {
        font-size: 20px;
    }

    .profile-info-mockup p {
        font-size: 14px;
    }

    .button-container-mockup {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .primary-button-mockup {
        padding: 8px 16px;
        font-size: 14px;
    }
}