@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  font-family: 'Readex Pro', sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-background: linear-gradient(to top,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%);
  --secondary-background: linear-gradient(to bottom,
      rgba(255, 65, 236) 0%,
      rgba(242, 223, 239, 0.899) 100%);
  --secondary-light: rgb(255, 65, 236);
  --glassmorf-bg: rgb(255, 65, 236);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  --secondary-purple: rgb(129, 9, 183);
  --primary-dark: rgb(12, 24, 69);
  --primary-light: rgba(223, 130, 209, 0.899);
  --primary-button-start: rgb(254, 48, 114);
  --primary-button-end: rgba(186, 103, 190, 0.767);
  --secondary-button-border: rgb(121, 119, 121);
  --secondary-button-start: rgba(163, 159, 164, 0.479);
  --secondary-button-end: rgba(245, 6, 225, 0.167);
  --disabled-button-color: rgba(145, 79, 135, 0.438);
  --disabled-button-text: rgba(60, 58, 59, 0.374);
}



h2 {
  font-style: italic;
}


a {
  text-decoration: none;
  color: inherit;
}


.primary-button,
.secondary-button {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 15px;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  border-top: solid 2px rgb(121, 119, 119);
  width: 200px;
  margin: 10px;
  /* Adjust the width to your desired value */
}
.primary-button {

  background: linear-gradient(45deg, var(--primary-button-end), var(--secondary-light));

}

.primary-button:hover {
  background: linear-gradient(260deg, var(--secondary-light), var(--primary-button-end));
  color: var(--primary-dark);
  border: solid 2px rgb(48, 48, 48);
  border-bottom: solid 3px rgb(121, 119, 119);
}


.secondary-button {
  color: var(--primary-dark);
  background: linear-gradient(45deg, var(--secondary-button-end), var(--secondary-button-start));
  font-weight: 500;
 
}

.secondary-button:hover {

  color: var(--primary-light);
  border: solid 2px rgb(48, 48, 48);
  border-bottom: solid 3px rgb(121, 119, 119);
}


.secondary-button:disabled {
  background-color: var(--disabled-button-color);
  color: var(--disabled-button-text-color);
  list-style: none;
}

/*-------- Home page --------*/





.person-card {
  margin: 20px 30px;
  border: solid 5px pink;
  border-radius: 20px;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(to bottom, rgb(247, 244, 244) 0%,
      rgb(220, 219, 219) 100%);
}

.photo-container img {
  display: flex;
  padding: 5ox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: relative;
  width: 350px;
  height: 400px;

  background: linear-gradient(to bottom, rgb(247, 244, 244) 0%,
      rgb(220, 219, 219) 100%);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(50px);
  border-radius: 20px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.loged-in-text {
  color: lightblue;
}

.loged-in-text {
  align-self: flex-end;
}